<html>
  <head>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  <div id="arrow">
<i class="fas fa-arrow-circle-left"></i>
</div>
<body class="text-center">
  <form class="form-signin">
<img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Video-Game-Controller-Icon-IDV-green.svg/1024px-Video-Game-Controller-Icon-IDV-green.svg.png" alt="" width="150" height="150">
<h1 class="h3 mb-3 font-weight-normal">Añadir Videojuego</h1>
<input type="" id="inputEmail" class="form-control" placeholder="Game Name" required autofocus>
<button class="btn btn-lg btn-primary btn-block" type="submit">Registrar Videojuego</button>
<p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>
</body>
</html>
